[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1.0"
psycopg2-binary = "==2.8.5"
django-crispy-forms = "*"
django-debug-toolbar = "*"
pillow = "*"
channels = "*"
environs = {version = "==8.0.0", extras = ["django"]}

[dev-packages]

[requires]
python_version = "3.8"
